* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #9e7575;
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

.form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.form__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}


.form__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.form__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.error__name,
.error__email,
.error__password,
.error__repeat-password,
.error__missing-inputs {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.error__name-active,
.error__email-active,
.error__password-active,
.error__repeat-password-active,
.error__missing-inputs-active {
	display: block;
}

.form__message,
.form a, 
.form__group-btn-send,
.form__group-btn-reset-fields {
	grid-column: span 2;
}

.form__message {
	height: 100%;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.form__message__bottom {
	height: 10%;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.form__message-active {
	display: block;
}

.form__message p {
	margin: 0;
}

.form__group-btn-reset-fields,
.form__group-btn-send {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.form__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.form__message-sent {
	display: none;
	grid-column: span 2;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #0b6100;
}

.form__message-sent-active {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.form__group-error .form__label {
	color: #bb2929;
}


.form__group-error .form__input {
	border: 3px solid #bb2929;
}

.check-successful {
	display: block;
	grid-column: span 2;
	text-align: center;
	font-size: 14px;
	color: #0b6100;
	background: rgb(172, 134, 243)
}

.check-unsuccessful {
	display: block;
	grid-column: span 2;
	text-align: center;
	font-size: 14px;
	color: #000000;
}

#div_for_errors {
	margin: 5px;
}

/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.form {
		grid-template-columns: 1fr;
	}

	.form__message,
	.form__group-btn-send {
		grid-column: 1;
	}

	.form__btn {
		width: 100%;
	}
}